@using Convocatoria.Web.Front.Models
@model HojaDeVidaModel



<div class="row">
    <div class="col-md-12 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title tabbable-line">
                <div class="caption">
                    <i class="fa fa-certificate"></i>
                    <span class="caption-subject font-dark sbold uppercase"><strong>Educación Formal</strong></span>
                </div>

                <ul class="nav nav-tabs">

                    <li>
                        <a href="#portlet_tab2" data-toggle="tab">Adicionar/Editar  </a>
                    </li>
                    <li class="active">
                        <a href="#portlet_tab1" data-toggle="tab"> Tu educación formal </a>
                    </li>
                </ul>
            </div>

            @*<div class="portlet-body">
                <div class="tab-content">*@


            <div class="tab-pane active" id="portlet_tab1">
                <div class="row">
                    <button type="button" class="btn default green" id="btnAdicionarExp">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>

                
                <div class="row">
                    <div class="portlet mt-element-ribbon light portlet-fit bordered">
                        <div class="ribbon ribbon-left ribbon-clip ribbon-shadow ribbon-border-dash-hor ribbon-color-success uppercase">
                            <div class="ribbon-sub ribbon-clip ribbon-left"></div>
                            <i class=" fa fa-graduation-cap"></i>
                            Especialista gerencia estratégica
                        </div>
                        <div class="portlet-title">
                            <div class="actions">
                                <a href="javascript:;" id="clickmewow" class="btn btn-default btn-sm">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a href="javascript:;" class="btn btn-default btn-sm">
                                    <i class="fa fa-minus"></i>
                                </a>
                            </div>
                            <div class="caption">

                                <span class="caption-subject font-green bold uppercase">Universidad de la sabana</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            Enero 2008-2009
                            <a href="#">Certificado académico</a>
                        </div>
                    </div>
                </div>
              
            </div>


                    <div class="tab-pane" id="portlet_tab2">
                        <hr>
                        <div class="row">
                            <label class="col-md-2 control-label">Pais donde estudió</label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.ddlIdPaisDondeEstudio, new SelectList(Model.ListPaisDondeEstudio, "Id", "Nombre"), "- Seleccione -", new { @class = "form-control" })
                                <span class="help-block"> Seleccione el país donde estudió</span>
                                
                            </div>
                            <label class="col-md-2 control-label">Departamento donde estudió</label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.ddlIdDepartamentoDondeEstudio, new SelectList(Model.ListDepartamentoDondeEstudio, "Id", "Nombre"), "- Seleccione -", new { @class = "form-control" })
                                <span class="help-block"> Seleccione el departamento donde estudió</span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <label class="col-md-2 control-label">Ciudad donde estudió</label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.ddlIdCiudadDondeEstudio, new SelectList(Model.ListCiudadDondeEstudio, "Id", "Nombre"), "- Seleccione -", new { @class = "form-control" })
                                <span class="help-block"> Seleccione ciudad donde estudió</span>
                            </div>
                            <label class="col-md-2 control-label">Institución donde estudió</label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.ddlIdInstitucionDondeEstudio, new SelectList(Model.ListInstitucionDondeEstudio, "Id", "Nombre"), "- Seleccione -", new { @class = "form-control" })
                                <span class="help-block"> Seleccione la universidad donde estudió </span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <label class="col-md-2 control-label">Tipo de estudios</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.TipoDeEstudio, new { @class = "form-control", @maxlength = "256" })
                            </div>
                            <label class="col-md-2 control-label">Nombre del título</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.NombreTitulo, new { @class = "form-control", @maxlength = "256" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <label class="col-md-2 control-label">Termino estudios</label>
                            <div class="col-md-4">

                            </div>
                            <label class="col-md-2 control-label">Fecha terminación</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.FechaTerminacionEstudios, new { @class = "form-control" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <label class="col-md-2 control-label">Último semestre (Si no ha terminado)</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.FechaUltimoSemestre, new { @class = "form-control" })
                            </div>
                            <label class="col-md-2 control-label">Fecha finalización semestre (SI no ha terminado)</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.FechaFormalizacionSemestre, new { @class = "form-control" })
                            </div>
                        </div>
                        <br />
                    </div>

                @*</div>
            </div>*@

            <div class="form-actions">
                <div class="row">
                    <div class="col-md-6">
                        <hr>
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green">Guardar</button>
                                <button type="button" class="btn default">Cancelar</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>

