@using Convocatoria.Web.Front.Models
@model HojaDeVidaModel



<div class="row">
    <div class="col-md-12 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title tabbable-line">
                <div class="caption">
                    <i class="fa fa-certificate"></i>
                    <span class="caption-subject font-dark sbold uppercase"><strong>Educación No Formal</strong></span>
                </div>

                <ul class="nav nav-tabs">

                    <li>
                        <a href="#portlet_tab2" data-toggle="tab">Adicionar/Editar  </a>
                    </li>
                    <li class="active">
                        <a href="#portlet_tab1" data-toggle="tab"> Tu educación no formal </a>
                    </li>
                </ul>
            </div>

            @*<div class="portlet-body">
                <div class="tab-content">*@

                    <div class="tab-pane" id="portlet_tab1">
                    </div>

                    <div class="tab-pane" id="portlet_tab2">
                        <hr>
                        <div class="row">
                            <label class="col-md-2 control-label">Pais donde estudió</label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.ddlIdPaisDondeEstudioNF, new SelectList(Model.ListPaisDondeEstudioNF, "Id", "Nombre"), "- Seleccione -", new { @class = "form-control" })
                                <span class="help-block"> Seleccione el país donde estudió</span>
                            </div>
                            <label class="col-md-2 control-label">Departamento donde estudió</label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.ddlIdDepartamentoDondeEstudioNF, new SelectList(Model.ListDepartamentoDondeEstudioNF, "Id", "Nombre"), "- Seleccione -", new { @class = "form-control" })
                                <span class="help-block"> Seleccione el departamento donde estudió</span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <label class="col-md-2 control-label">Ciudad donde estudió</label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.ddlIdCiudadDondeEstudioNF, new SelectList(Model.ListCiudadDondeEstudioNF, "Id", "Nombre"), "- Seleccione -", new { @class = "form-control" })
                                <span class="help-block"> Seleccione ciudad donde estudió</span>
                            </div>
                            <label class="col-md-2 control-label">Institución donde estudió</label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.ddlIdInstitucionDondeEstudioNF, new SelectList(Model.ListInstitucionDondeEstudioNF, "Id", "Nombre"), "- Seleccione -", new { @class = "form-control" })
                                <span class="help-block"> Seleccione la universidad donde estudió </span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <label class="col-md-2 control-label">Tipo de estudios</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.TipoDeEstudio, new { @class = "form-control", @maxlength = "256" })
                            </div>
                            <label class="col-md-2 control-label">Nombre del título</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.NombreTitulo, new { @class = "form-control", @maxlength = "256" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <label class="col-md-2 control-label">Intensidad horaria</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.IntensidadHoraria, new { @class = "form-control" })
                            </div>
                            <label class="col-md-2 control-label">Año terminación</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.AnnoTerminacion, new { @class = "form-control" })
                            </div>
                        </div>                                                <br />
                    </div>

                @*</div>
            </div>*@
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>

