@using Convocatoria.Web.Front.Models
@model HojaDeVidaModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Master.cshtml";
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            @Html.ActionLink("Datos personales", "index", new { vista = 0 })
            <i class="fa fa-circle"></i>
        </li>
        <li>
            @Html.ActionLink("Educacion formal", "index", new { vista = 1 })
            <i class="fa fa-circle"></i>
        </li>
        <li>
            @Html.ActionLink("Experiencia laboral", "index", new { vista = 2 })
            <i class="fa fa-circle"></i>
        </li>
        <li>
            @Html.ActionLink("Reconocimientos", "index", new { vista = 3 })
            <i class="fa fa-circle"></i>
        </li>
        <li>
            @Html.ActionLink("Educacion no formal", "index", new { vista = 2 })
            <i class="fa fa-circle"></i>
        </li>
    </ul>
</div>

<div>
    @if (Model.Vista == 1)
    {  @Html.Partial("EducacionFormal")    }
    else if (Model.Vista == 2)
    {   @Html.Partial("ExperienciaLaboral")    }
    else if (Model.Vista == 3)
    {   @Html.Partial("Reconocimientos")    }
    else
    {   @Html.Partial("DatosPersonales")    }
    else if (Model.Vista == 2)
    {   @Html.Partial("EducacionNoFormal")    }
</div>

